@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes colorChange {
  0% { background-color: #FF1493; } /* Neon Pink */
  25% { background-color: #FF4500; } /* Transition Color */
  50% { background-color: #7DFF00; } /* Neon Yellow */
  75% { background-color: #32CD32; } /* Transition Color */
  100% { background-color: #00FFFF; } /* Neon Cyan */
}

.button-animate {
  background-color: #FF1493; /* Initial background color */
  animation: colorChange 10s infinite; /* Increased duration for smoother transition */
  color: black;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 10px;
}

.button-animate:hover {
  animation-play-state: paused;
}